.container {
  width: 100vw;
  height: 100vh;
  .header_message {
    background-color: #57D9A6;
    align-items: center;
    text-align: center;
  }

  .header_underline_text {
    background-color: #1C1C33;
    .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    .header_logo {
      .logo {
        display: flex;
        width: 40px;
        flex-wrap: wrap;
      }

      .logo_n {
        background-color: #57D9A6;
        width: 20px;
        height: 20px;
      }

      .logo_1 {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .logo_2 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .logo_3 {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
      .logo_4 {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
      .title {
        color: white;
      }
    }
    .header_nav {
      display: flex;
      gap: 32px;
      a {
        text-decoration: none;
        color: white;
      }
    }
    .basket {
      width: 30px;
    }
  }
}
}

